@font-face {
  font-family: 'CocoGothic';
  src: url('../font/CocoGothic_trial.ttf');
}
@font-face {
  font-family: 'CocoGothic-Light';
  src: url('../font/CocoGothic-Light_trial.ttf');
}
body {
  background-color: #fdba2e!important;
}

/*landing pages*/
.cloud {
  
  background: url('../images/cloud_lp_2.png');
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 184px;
  height: 39px;
  font-family: CocoGothic;
  font-size: 29px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-align: center;
  color: #282828;
  margin-left: 40px;
  margin-bottom: 14px;
}

.focuskey {
  width: 562px;
  height: 96px;
  /*font-family: CocoGothic;*/
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  display: right;
  margin-bottom: 20px;
}

.text-style-1 {
  font-weight: 900;
  color: #282828;
}

.connect-with {
  width: 553px;
  height: 44px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-left: 12px;
  margin-top: 14px;
  margin-bottom: 24px;
}

.sm-text-style-1 {
  font-weight: bold;
  color: #282828;
}

.turn-specs {
  font-family: CocoGothic-Light;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

.btn-black {
  font-family: 'Open Sans', sans-serif;
  background-color: #282828;
  color: white;
  width: 182px;
  height: 47px;
  font-size: 20px;
  font-weight: 600;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border: none;
  padding-left: 5px;
  vertical-align: top;
}

.email-input {
  width: 376px;
  height: 47px;
  border-bottom-left-radius: 100px;    
  border-top-left-radius: 100px;
  border: none;
}

.float-right {
  position: absolute;
  float: right;
  top: 90px;
  right: 76px;
}

.float {
  position: absolute;
  top: 90px;
  margin-left: 90px;
}

.section-1 {
  display: inline-block;
  margin-left: 50px;
}

.block {
  margin-left: 79px;
  margin-bottom: 10px;
}

.float-left-vr {
  position: absolute;
  float: left;
  top: 84px;
  left: 115px;
}

.float-left-chatbot {
  position: absolute;
  float: left;
  top: 30px;
  left: 50px;
}

.float-left-ve {
  position: absolute;
  float: left;
  top: 30px;
  left: 50px;
}

.white-background{
  background-color: white
}

.section-2 {
  margin-left: 83px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.border-how {
  width: 1047px;
  height: 212px;
  border-left: solid 4px #282828;
  border-bottom: solid 4px #282828;
  margin-top: -6px;
  margin-left: 14px;

}

.inside-how {
  font-family: CocoGothic-Light;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 30px;
}

.rect-yellow {
  width: 34px;
  height: 34px;
  background-color: #fdba2e;
  border-radius: 4px;
  color: white;
  text-align: center;
  display: inline-block;
  margin-top: 95px;
}
.number {
  font-weight: bold;
  padding-top: 5px;
  font-size: 20px;
}
.rect-black {
  width: 34px;
  height: 34px;
  background-color: #282828;
  border-radius: 4px;
  display: inline-block;
}
/*about section*/
.card {
  width: 18rem;
  margin: 10px;
  margin-top: 17px;
  vertical-align: top;
  display: inline-block;
}

.card-text {
  width: 194px;
  height: 96px;
  font-size: 18px;
}

.text-style-3 {
  font-weight: 700;
  color: #282828;
}

.text-bold-inline {
  font-family: CocoGothic;
  display: inline-block;
  margin: 0 auto;
  vertical-align: text-bottom;
  font-weight: bold;
  margin-left: 10px;
}

.text-bold {
  font-weight: bold;
  font-family: 'CocoGothic';
}

ul {
  /*list-style: none;*/
  color: #fca62f;
  /*padding: 0;*/
  /*font-size: 3em;*/
}

li {
  list-style-type: disc;
  font-size: 2em;
}
/*li::before {
  content: "\2022";
  font-size: 2em;
}
*/
a {
  margin: 0;
  font-size: 20px;
  color: black;
}

ul a:link {
  color: black;
}
ul a:hover {
  color: #FCA62F;
}
.list {
  display: inline-block;
}
.bitcoin-img {
  display: inline-block;
  vertical-align: top;
  margin-left: 16em;
}

