@font-face {
  font-family: 'CocoGothic';
  src: url('../font/CocoGothic_trial.ttf');
}
@font-face {
  font-family: 'CocoGothic-Light';
  src: url('../font/CocoGothic-Light_trial.ttf');
}
body {
  background-color: #fdba2e!important;
}

.cloud {
  
  background: url('../images/cloud_lp_2.png');
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  
}
.logo {
  width: 184px;
  height: 39px;
  font-family: CocoGothic;
  font-size: 29px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-align: center;
  color: #282828;
  margin-left: 40px;
  margin-bottom: 14px;
  margin-top: 25px;
}

.focuskey {
  width: 562px;
  height: 96px;
  font-family: CocoGothic;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: left;
  
}

.text-style-1 {
  font-weight: 900;
  color: #282828;

}

.connect-with {
  width: 553px;
  height: 44px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-left: 12px;
  margin-top: 14px;
  margin-bottom: 24px;
}

.sm-text-style-1 {
  font-weight: bold;
  color: #282828;
}

.turn-specs {
  font-family: CocoGothic-Light;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 40px;
}

.btn-black {
  font-family: 'Open Sans', sans-serif;
  background-color: #282828;
  color: white;
  width: 182px;
  height: 47px;
  font-size: 20px;
  font-weight: 600;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border: none;
  padding-left: 5px;
  vertical-align: top;
  box-shadow: 0px 3px 18px -6px black;
}

.email-input {
  padding-left: 20px;
  width: 376px;
  height: 47px;
  border-bottom-left-radius: 100px;    
  border-top-left-radius: 100px;
  border: none;
  box-shadow: 0px 3px 18px -6px black;
}

.float-right {
  position: absolute;
  float: right;
  top: 90px;
  right: 76px;
}

.float {
  position: absolute;
  top: 90px;
  margin-left: 90px;
}

.section-1 {
  display: inline-block;
}

/*.block {
  margin-left: 79px;
  margin-bottom: 10px;
}*/

.float-left-vr {
  position: absolute;
  float: left;
  top: 84px;
  left: 115px;
}

.float-left-chatbot {
  position: absolute;
  float: left;
  top: 30px;
  left: 50px;
}

.float-left-ve {
  position: absolute;
  float: left;
  top: 30px;
  left: 50px;
}

.white-background{
  background-color: white;
  padding-bottom: 20px;
}

.section-2 {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 50px;
  margin-bottom: 50px;
}
.border-how {
  width: 1047px;
  height: 212px;
  border-left: solid 4px #282828;
  border-bottom: solid 4px #282828;
  margin-top: -6px;
  margin-left: 14px;

}

.inside-how {
  font-family: CocoGothic-Light;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 30px;
}

.rect-yellow {
  width: 34px;
  height: 34px;
  background-color: #fdba2e;
  border-radius: 4px;
  color: white;
  text-align: center;
  display: inline-block;
  
}
.number {
  font-weight: bold;
  padding-top: 2px;
  font-size: 20px;
}
.rect-black {
  width: 34px;
  height: 34px;
  background-color: #282828;
  border-radius: 4px;
  display: inline-block;
}

.card-how {
  width: 194px;
  /*width: 18rem;
  margin: 10px;*/
  margin-top: -20px;
  vertical-align: top;
  display: inline-block!important;
  background-color: transparent!important;
  border: none!important;
}
.card-body-how {
  height: 96px;
  padding: 0px!important;
}
.card-text-how {
  font-size: 18px;
  margin-top: 5px;
}

.text-style-3 {
  font-weight: 700;
  color: #282828;
}

.text-bold-inline {
  font-family: CocoGothic;
  display: inline-block;
  margin: 0 auto;
  vertical-align: text-bottom;
  font-weight: bold;
  margin-left: 10px;
}

.text-bold {
  font-weight: bold;
  font-family: 'CocoGothic';
  margin-top: 50px;
}
h2 {
  font-size: 30px!important;
}
.list ul {
  color: #fca62f;
}

.list li {
  list-style-type: disc;
  font-size: 2em;
}

.list a {
  margin: 0;
  font-size: 20px;
  color: black;
}

.list ul a:link {
  color: black;
}
.list ul a:hover {
  color: #FCA62F;
}
.list {
  display: inline-block;
}
.bitcoin-img {
  display: inline-block;
  vertical-align: top;
  margin-left: 16em;
}

.center {
  text-align: center;
}
.margin-top {
  margin-top: 20px;
}
.bg-color-blue {
  background-color: #87ced9;
  padding: 25px 0px;

}

.carousel-indicators {
  list-style: none;
  margin: 10px;
}

.carousel-indicators li {
  width: 100px!important;
  height: 100px!important;
  position: relative;
  margin: 10px;
  background: none!important;
  border-radius: 50%;
  margin-left: 40px!important;
  margin-right: 40px!important;
}

.carousel-indicators li.active {
  width: 115px!important;
  height: 115px!important;
  box-shadow: 1px 2px 26px 0px black;
}

.carousel-indicators li:hover {
  width: 115px!important;
  height: 115px!important;
  box-shadow: 1px 2px 26px 0px black;
}

.carousel-indicators img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.carousel {
  margin-bottom: 20px;
}
.inline-block {
  display: inline-block;
}

.position {
  max-width: 45em;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px;
}

.slider-spacing {
  padding: 0em 12.5em;
  margin: 5em 0em;
}

.quote-align {
  height: 300px;
  vertical-align: top;
}

.section-3 {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 25px;
  margin-bottom: 50px;
}

.pricing-card {
  width: 290px;
  height: 382px;
  margin: 20px 40px;
}
.light-orange-border {
  border: solid 3px #fdba2e!important;
}
.basic-header {
  background-color: #fdba2e!important;
  font-size: 28px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  font-family: CocoGothic;
}

.basic-title {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fdba2e;
  margin-top: -5px;
}

.light-orange{
  color: #fdba2e!important;
}
.basic-text {
  padding: 0;
  margin-left: 16px;
}
.basic-text li {
  list-style-type: circle;
}
.basic-text li:before {
  list-style-type: circle;
  font-size: 20px;

}

.basic-btn {
  width: 228px;
  height: 40px;
  border-radius: 38px!important;
  background-color: #fdba2e;
  color: #ffffff;
  font-weight: 600;
}

.pricing-button {
  text-align: center;
}

.list-color {
  color: #282828;
  font-size: 14px;
}

.custom-title {
  text-align: center;
  font-family: CocoGothic;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: 0.6px;
  text-align: center;
  color: #f5a623;
  margin-top: -5px;
  padding: 25px 0px;
}
.orange {
  color: #fca62f!important;
}
.orange-border {
  border: solid 3px #fca62f!important;
}

.orange-bg {
  background-color: #fca62f!important;
}

.pro-card {
  width: 335px;
  height: 420px;
  border: solid 3px #87ced9!important;
}

.pro-header {
  background-color: #87ced9!important;
  font-size: 28px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  font-family: CocoGothic;
}

.light-blue {
  color: #87ced9!important;
}
.light-blue-bg {
  background-color: #87ced9!important;
}

.card, .card-header {
  border-radius: unset!important;
}

.row-margin {
  margin-left: 58px!important;
}

.slider2-width {
  width: 415px;
}

.slider2-width p {
  width: 380px;
}

#slider2 .carousel-control-prev-icon,
#slider2 .carousel-control-next-icon {
  height: 100px!important;
  width: 50px!important;
  outline: black;
  background-size: 100%, 100%!important;
  border-radius: 50%;
  background-image: none!important;
}

#slider2 .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

#slider2 .carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

#slider2 .carousel-control-prev,
#slider2 .carousel-control-next {
  opacity: 1!important;
  width: unset!important;
}

#slider2 .carousel-control-prev:hover,
#slider2 .carousel-control-next:hover {
  opacity: 0.5!important;
}

#slider2 .carousel-inner {
  padding: 0px 70px;
}

.footer {
  margin-top: 50px;
  margin-bottom: 100px;
}

.two {
  margin-left: 102px;
}

.three {
  margin-left: 194px;
}

.four {
  margin-left: 140px;
}

.text-two {
  width: 299px;
}

@media only screen and (min-width: 1025px) and (max-width: 1439px){
  .cloud, .white-background, .bg-color-blue {
    padding: 2% 5%!important;
  }

  .block {
    width: 49%;
    display: inline-block;
    vertical-align: top;
      
  }
  .section-1 {
    width: 50%;
  }
  .focuskey {
    font-size: 2.5vw;
    height: unset;
  }

  .turn-specs {
    font-size: 2vw;
    margin-bottom: 3.5vw;
  }
  .connect-with {
    font-size: 1.25vw;
    height: unset;
  }
  .email-input {
    width: 57%;
    height: 3.2vw;
  }
  .btn-black {
    font-size: 1.5vw;
    width: 31%;
    height: 3.2vw;

  }
  .section-2{
    margin-left: unset;
    margin-right: unset;
  }

  .rect-black {
    width: 3.5%;
    height: 3vw;
  }
  .text-bold-inline {
    font-size: 3vw!important;
    display: inline;
  }
  .border-how {
    width: 80%;
    margin-left: 1.3vw;
    height: 13vw;
  }

  .inside-how {
    font-size: 2.1vw!important;
    padding: 2vw;
  }

  .rect-yellow {
    width: 19%;
    height: 3.2vw;
  }
  .number {
    font-size: 1.8vw;
  }

  .card-how {
    width: 17vw!important;
    margin-top: -20px!important;
    margin-left: -.08vw!important;
  }
  .card-body-how {
    width: 100%!important;

  }
  .card-text-how {
    font-size: 1.4vw!important;
    width: 100%!important;
  }
  .two, .three, .four {
    margin-left: 5.5%!important;
  }
  .text-two {
    width: unset;
  }
  .text-bold {
    font-size: 3vw!important;
  }

  h2 {
    width: 95%!important;
    font-size: 2vw!important;

  }

  .list ul {
    font-size: 1.05vw;
  }

  .bitcoin-img {
    width: 55%;
    margin-left: unset;
  }
  .dist-chart {
    width: 95%;
  }
  .quote-size img {
    /*width: 50%!important;*/
  }

  .slider-spacing {
    padding: 0 3%;
    
  }

  .position {
    font-size: 1.3vw!important;
    max-width: 40em;
  }
  .carousel-indicators {
    margin-left: unset!important;
    margin-right: unset!important;
  }

  .carousel-indicators li {
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
  .section-3 {
    margin-left: unset;
    margin-right: unset;
  }
  .row-margin {
    margin-left: unset!important;
  }

  .card {
    width: 29%;
    height: 95%;
    margin: 1%;
  }

  .card-header {
    padding: 2% 4%!important;
    font-size: 2.5vw;
  }
  .card-title .dollar {
    font-size: 6vw!important;
  }
  
  .card-text li span {
    font-size: 1.3vw;
    
  }
  .card-body {
    padding: 1.2vw;
  }
  .btn {
    width: 95%;
  }

  .custom-title {
    font-size: 3.5vw!important;
  }
  .pro-card {
    width: 36%;
  }
  .slider2-width, .slider2-width p{
    width: unset;
  }
  .slider2-pic {
    width: 95%;
  }
  .footer form {
    margin: auto;
    width: 60%;
  }
}


@media only screen and (min-width: 770px) and (max-width: 1024px){
  

  
  .block {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    
  }

  .section-1 {
    width: 50%;
  }

  .focuskey {
    font-size: 3.2vw;
    height: unset;
  }

  .turn-specs {
    font-size: 2.5vw;
    margin-bottom: 3.5vw;
  }

  .connect-with {
    font-size: 1.47vw;
    height: unset;
  }
  .email-input {
    width: 68%;
    height: 4vw;
  }
  .btn-black {
    font-size: 1.7vw;
    width: 30%;
    height: 4vw;

  }
  .section-2{
    margin-left: unset;
    margin-right: unset;
  }

  .rect-black {
    width: 4%;
    height: 3.5vw;
  }
  .text-bold-inline {
    font-size: 3.5vw!important;
    display: inline;
  }
  .border-how {
    width: 80%;
    margin-left: 1.5vw;
    height: 17vw;
  }

  .inside-how {
    font-size: 2.2vw!important;
    padding: 2vw;
  }

  .rect-yellow {
    width: 22%;
    height: 3.5vw;
  }
  .number {
    font-size: 2vw;
  }

  .card-how {
    width: 18vw!important;
    margin-top: -20px!important;
  }
  .card-body-how {
    width: 100%!important;

  }
  .card-text-how {
    font-size: 1.6vw!important;
    width: 100%!important;
  }
  .two, .three, .four {
    margin-left: 5.5%!important;
  }
  .text-two {
    width: unset;
  }
  .text-bold {
    font-size: 3.5vw!important;
  }

  h2 {
    width: 95%!important;
    font-size: 2.5vw!important;

  }

  .list ul {
    font-size: 1vw;
  }

  .bitcoin-img {
    width: 60%;
    margin-left: unset;
  }
  .dist-chart {
    width: 95%;
  }
  .quote-size img {
    /*width: 50%!important;*/
  }

  .slider-spacing {
    padding: 0 2%;
    /*margin-bottom: unset;*/
  }

  .position {
    font-size: 1.5vw!important;
    max-width: 40em;
  }
  .carousel-indicators {
    margin-left: unset!important;
    margin-right: unset!important;
  }

  .section-3 {
    margin-left: unset;
    margin-right: unset;
  }
  .row-margin {
    margin-left: unset!important;
  }

  .card {
    width: 28%;
    height: 95%;
    margin: 1%;
  }

  .card-header {
    padding: 2% 4%!important;
    font-size: 2.5vw;
  }
  .card-title .dollar {
    font-size: 6vw!important;
  }
  .card-text li {
    line-height: 1;
  }
  .card-text li span {
    font-size: 1.6vw;
    line-height: unset;
  }
  .card-body {
    padding: 1.2vw;
  }
  .btn {
    width: 95%;
  }

  .custom-title {
    font-size: 3.5vw!important;
  }
  .pro-card {
    width: 36%;
  }
  .slider2-width, .slider2-width p{
    width: unset;
  }
  .slider2-pic {
    width: 95%;
  }
  .footer form {
    margin: auto;
    width: 60%;
  }
}