@font-face {
  font-family: 'CocoGothic';
  src: url('../font/CocoGothic_trial.ttf');
}
@font-face {
  font-family: 'CocoGothic-Light';
  src: url('../font/CocoGothic-Light_trial.ttf');
}
body {
  background-color: #fdba2e!important;
}

/*landing pages*/
.cloud {
  
  background: url('../images/cloud_lp_2.png');
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 184px;
  height: 39px;
  font-family: CocoGothic;
  font-size: 29px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-align: center;
  color: #282828;
  margin-left: 40px;
  margin-bottom: 14px;
  margin-top: 25px;
}

.focuskey {
  width: 562px;
  height: 96px;
  font-family: CocoGothic;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: left;
  
}

.text-style-1 {
  font-weight: 900;
  color: #282828;

}

.connect-with {
  width: 553px;
  height: 44px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-left: 12px;
  margin-top: 14px;
  margin-bottom: 24px;
}

.sm-text-style-1 {
  font-weight: bold;
  color: #282828;
}

.turn-specs {
  font-family: CocoGothic-Light;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 40px;
}

.btn-black {
  font-family: 'Open Sans', sans-serif;
  background-color: #282828;
  color: white;
  width: 182px;
  height: 47px;
  font-size: 20px;
  font-weight: 600;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border: none;
  padding-left: 5px;
  vertical-align: top;
  box-shadow: 0px 3px 18px -6px black;
}

.email-input {
  padding-left: 20px;
  width: 376px;
  height: 47px;
  border-bottom-left-radius: 100px;    
  border-top-left-radius: 100px;
  border: none;
  box-shadow: 0px 3px 18px -6px black;
}

.float-right {
  position: absolute;
  float: right;
  top: 90px;
  right: 76px;
}

.float {
  position: absolute;
  top: 90px;
  margin-left: 90px;
}

.section-1 {
  display: inline-block;
  margin-left: 60px;
  margin-right: 60px;
}

.block {
  margin-left: 79px;
  margin-bottom: 10px;
}

.float-left-vr {
  position: absolute;
  float: left;
  top: 84px;
  left: 115px;
}

.float-left-chatbot {
  position: absolute;
  float: left;
  top: 30px;
  left: 50px;
}

.float-left-ve {
  position: absolute;
  float: left;
  top: 30px;
  left: 50px;
}

.white-background{
  background-color: white;
  padding-bottom: 20px;
}

.section-2 {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 50px;
  margin-bottom: 50px;
}
.border-how {
  width: 1047px;
  height: 212px;
  border-left: solid 4px #282828;
  border-bottom: solid 4px #282828;
  margin-top: -6px;
  margin-left: 14px;

}

.inside-how {
  font-family: CocoGothic-Light;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 30px;
}

.rect-yellow {
  width: 34px;
  height: 34px;
  background-color: #fdba2e;
  border-radius: 4px;
  color: white;
  text-align: center;
  display: inline-block;
  
}
.number {
  font-weight: bold;
  padding-top: 2px;
  font-size: 20px;
}
.rect-black {
  width: 34px;
  height: 34px;
  background-color: #282828;
  border-radius: 4px;
  display: inline-block;
}
/*about section*/
.card-how {
  width: 194px;
  /*width: 18rem;
  margin: 10px;*/
  margin-top: -20px;
  vertical-align: top;
  display: inline-block!important;
  background-color: transparent!important;
  border: none!important;
}
.card-body-how {
  height: 96px;
  padding: 0px!important;
}
.card-text-how {
  font-size: 18px;
  margin-top: 5px;
}

.text-style-3 {
  font-weight: 700;
  color: #282828;
}

.text-bold-inline {
  font-family: CocoGothic;
  display: inline-block;
  margin: 0 auto;
  vertical-align: text-bottom;
  font-weight: bold;
  margin-left: 10px;
}

.text-bold {
  font-weight: bold;
  font-family: 'CocoGothic';
  margin-top: 50px;
}
h2 {
  font-size: 30px!important;
}
.list ul {
  /*list-style: none;*/
  color: #fca62f;
  /*padding: 0;*/
  /*font-size: 3em;*/
}

.list li {
  list-style-type: disc;
  font-size: 2em;
}
/*li::before {
  content: "\2022";
  font-size: 2em;
}
*/
.list a {
  margin: 0;
  font-size: 20px;
  color: black;
}

.list ul a:link {
  color: black;
}
.list ul a:hover {
  color: #FCA62F;
}
.list {
  display: inline-block;
}
.bitcoin-img {
  display: inline-block;
  vertical-align: top;
  margin-left: 16em;
}

.center {
  text-align: center;
}
.margin-top {
  margin-top: 20px;
}
.bg-color-blue {
  background-color: #87ced9;
  padding: 25px 0px;

}

.carousel-indicators {
  list-style: none;
  margin: 10px;
}

.carousel-indicators li {
  width: 100px!important;
  height: 100px!important;
  position: relative;
  margin: 10px;
  background: none!important;
  border-radius: 50%;
  margin-left: 40px!important;
  margin-right: 40px!important;
}

.carousel-indicators li.active {
  width: 115px!important;
  height: 115px!important;
  box-shadow: 1px 2px 26px 0px black;
}

.carousel-indicators li:hover {
  width: 115px!important;
  height: 115px!important;
  box-shadow: 1px 2px 26px 0px black;
}

.carousel-indicators img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.carousel {
  margin-bottom: 20px;
}
.inline-block {
  display: inline-block;
}

.position {
  max-width: 45em;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px;
}

.slider-spacing {
  padding: 0em 12.5em;
  margin: 5em 0em;
}

.quote-align {
  height: 300px;
  vertical-align: top;
}

.section-3 {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 25px;
  margin-bottom: 50px;
}

.pricing-card {
  width: 290px;
  height: 382px;
  margin: 20px 40px;
}
.light-orange-border {
  border: solid 3px #fdba2e!important;
}
.basic-header {
  background-color: #fdba2e!important;
  font-size: 28px;
  /*font-weight: bold;*/
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  font-family: CocoGothic;
}

.basic-title {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fdba2e;
  margin-top: -5px;
}

.light-orange{
  color: #fdba2e!important;
}
.basic-text {
  padding: 0;
  margin-left: 16px;
}
.basic-text li {
  list-style-type: circle;
}
.basic-text li:before {
  list-style-type: circle;
  font-size: 20px;

}

.basic-btn {
  width: 228px;
  height: 40px;
  border-radius: 38px!important;
  background-color: #fdba2e;
  color: #ffffff;
  font-weight: 600;
}

.pricing-button {
  text-align: center;
}

.list-color {
  color: #282828;
  font-size: 14px;
}

.custom-title {
  text-align: center;
  font-family: CocoGothic;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: 0.6px;
  text-align: center;
  color: #f5a623;
  margin-top: -5px;
  padding: 25px 0px;
}
.orange {
  color: #fca62f!important;
}
.orange-border {
  border: solid 3px #fca62f!important;
}

.orange-bg {
  background-color: #fca62f!important;
}

.pro-card {
  width: 335px;
  height: 420px;
  border: solid 3px #87ced9!important;
}

.pro-header {
  background-color: #87ced9!important;
  font-size: 28px;
  /*font-weight: bold;*/
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  font-family: CocoGothic;
}

.light-blue {
  color: #87ced9!important;
}
.light-blue-bg {
  background-color: #87ced9!important;
}

.card, .card-header {
  border-radius: unset!important;
}

.row-margin {
  margin-left: 58px!important;
}

.slider2-width {
  width: 415px;
}

.slider2-width p {
  width: 380px;
}

#slider2 .carousel-control-prev-icon,
#slider2 .carousel-control-next-icon {
  height: 100px!important;
  width: 50px!important;
  outline: black;
  background-size: 100%, 100%!important;
  border-radius: 50%;
  /*border: 1px solid black;*/
  background-image: none!important;
}

#slider2 .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

#slider2 .carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

#slider2 .carousel-control-prev,
#slider2 .carousel-control-next {
  opacity: 1!important;
  width: unset!important;
}

#slider2 .carousel-control-prev:hover,
#slider2 .carousel-control-next:hover {
  opacity: 0.5!important;
}

#slider2 .carousel-inner {
  padding: 0px 70px;
}

.footer {
  margin-top: 50px;
  margin-bottom: 100px;
}